<h3>Current Balance: <%=current_user.balance%></h3>
<%= form_tag robokassa_path do %>
  <%= label_tag :amount, 'Amount (USD)' %>
  <%= text_field_tag :amount, '5', class: 'span1', maxlength: 4 %> 
<span class="muted" id="rub_amount">&nbsp;</span>
  <br />
  <%= submit_tag 'Increase balance', class: 'btn-large btn-primary', id: 'add_balance_btn' %>
<% end %>

<%= render 'balance_history' if current_user.balance_histories.present? %>
