<div id="search_form_block">
  <h3>Search</h3>

  <%= form_tag(search_path, remote: true, id: 'search_form') do %>
    <div class="search-fields">
      <%= label_tag :lang, 'Language, Library, Tool:' %>
      <%= text_field_tag :lang%> <br />
      <div class="radio-btn">
        <%= radio_button_tag :who, 'teacher', true %> Teacher <%= radio_button_tag :who, 'learner' %> Learner
      </div>
      <%= label_tag :price, 'Price ($ per hour):' %>
      <%= text_field_tag :price, nil, class: 'span1', maxlength: 2 %><br />
      <label class="checkbox">
        <%= check_box_tag :no_price_set, 1, true %>Include without price
      </label>
    </div>

    <%= submit_tag 'Show Teachers ()', class: 'btn-large btn-primary submit', id: 'submit_search' %>
  <% end %>
</div>