<!DOCTYPE html>
<html>
<head>
  <title>Pplex</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render 'shared/ga'%>
  <%= js_msg([notice, alert])%>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render partial: 'shared/feedback_form' %>
</body>
</html>
